<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aadd quote</title>
</head>
<body>
    <form action="http://localhost:2500/add" method="POST" >
        <label for="quote" >Yypur good thought here</label> <br>
        <input type="text" name="quote"> <br>
        <label for="auth">Auther</label> <br>
        <input type="text" name="auther">
        <button type="submit" >Add Quote</button>
    </form>
</body>
</html>